html {
  background: #aee1e1;
}

/* HEADER STYLES*/
#appTitle {
  color: #fc72a9;
  text-shadow: 2px 2px 2px rgb(118, 9, 114);
}

/* LEVEL AND TIMER STYLES*/
#levelTimer {
  background-color: rgba(69, 155, 222, 0.3);
  box-shadow: inset 0 0 3px #002d4a;
}

.level {
  color: #ffffff;
}

/* TIMER STYLES*/
.timer-off {
  color: #b51702;
}

.timer-on {
  color: #002d4a;
}

/* PROGRESS BAR STYLES*/
.progress-bubble {
  border-color: #79c6d3;
}

.bubble-neutral {
  background-color: transparent;
}

.bubble-correct {
  background-color: #81b214;
}

.bubble-incorrect {
  background-color: #f55c47;
}

/* DISPLAY STYLES*/
.display {
  background: #d3e0dc;
  border-color: #79c6d3;
}

.display-text {
  color: #12606d;
}

/* KEYS STYLES */
#keys {
  color: #12606d;
}
.number {
  background-color: #ece2e1;
}

.round-border {
  border-color: #79c6d3;
}
.touch,
.number {
  border-color: #79c6d3;
}

#clear {
  background-color: #fcd1d1;
}

#enter {
  background-color: #fcbbbb;
}

.blinking {
  animation-direction: alternate;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-name: blinker;
  animation-timing-function: ease-in-out;
  border-width: 4px;
  font-weight: 400;
}

@keyframes blinker {
  from {
    border-color: #fc72a9;
    color: #fc72a9;
  }
  to {
    border-color: rgb(183, 145, 191);
    color: rgb(183, 145, 191);
  }
}
