html {
  font-family: Helvetica, sans-serif;
  text-align: center;
  user-select: none;
}

body {
  margin-top: 0;
  overflow: hidden;
}

.top-container {
  box-sizing: border-box;
  height: 90vh;
  margin: 0 auto;
  max-width: 500px;
  padding: 0.5em;
  overflow: hidden;
}

.main-container {
  box-sizing: border-box;
  display: grid;
  grid-template:
    "header"
    "progressBar"
    "display"
    "keys";
  grid-template-rows: 3fr 1fr 3fr 50%;
  height: 95%;
  margin: 0 auto;
  overflow: hidden;
}

.center-box {
  align-items: center;
  display: flex;
  justify-content: center;
}

.right-box {
  align-items: flex-start;
  display: flex;
  justify-content: flex-start;
}

/* HEADER STYLES*/
.header {
  display: grid;
  grid-area: header;
  grid-template:
    "nightmode nightmode"
    "appTitle levelTimer";
  grid-template-columns: 4fr 4fr;
  grid-template-rows: 1fr 4fr;
  margin-top: 1.7em;
  margin-bottom: 0.8em;
}

#appTitle {
  font-family: "Pacifico", cursive;
  font-weight: 200;
  font-size: 3em;
  grid-area: appTitle;
  transform: rotate(-20deg);
}

/* LEVEL AND TIMER STYLES*/
#levelTimer {
  border-radius: 2rem;
  flex-direction: column;
  grid-area: levelTimer;
  margin-right: 2em;
}

.level {
  font-size: 2em;
  font-style: italic;
}

/* TIMER STYLES*/
.timer {
  font-family: "PT Mono", monospace;
  font-size: 3em;
  margin-top: 0.3em;
  width: 80%;
}

/* NIGHTMODE STYLES */
.nightmode-box {
  font-family: "pacifico", cursive;
  font-size: 1.2em;
  grid-area: nightmode;
}

/* PROGRESS BAR STYLES*/
.progressBar {
  align-items: center;
  display: flex;
  grid-area: progressBar;
  justify-content: space-evenly;
  margin-top: 1em;
}

.progress-bubble {
  border-radius: 1em;
  border-style: solid;
  border-width: 1px;
  height: 1em;
  width: 1em;
}

/* DISPLAY STYLES*/
.display {
  border-radius: 2rem;
  border-style: solid;
  border-width: 1px;
  grid-area: display;
  margin-top: 0.4em;
}

.display-info {
  font-size: 1.7em;
  font-weight: 100;
  height: 40%;
  margin-top: 0.2em;
}

.display-input {
  font-family: "PT Mono", monospace;
  font-size: 3em;
  font-weight: 100;
  height: 60%;
}

.display-message {
  font-family: "Pacifico", cursive;
  font-size: 2.2em;
}

/* KEYS STYLES */
#keys {
  display: grid;
  font-weight: 100;
  gap: 0.3em;
  grid-area: keys;
  grid-template:
    "seven eight nine enter"
    "four five six enter"
    "one two three enter"
    "zero clear clear enter";
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  margin-top: 0.3em;
  touch-action: manipulation;
}
.number {
  align-items: center;
  border-style: solid;
  border-width: 1px;
  display: flex;
  font-size: 2.2em;
  font-weight: 200;
  justify-content: center;
}

.round-border {
  border-radius: 2rem;
  border-style: solid;
  border-width: 1px;
}

.touch,
.number {
  border-radius: 2rem;
  border-style: solid;
  border-width: 1px;
}

#clear {
  font-size: 1.5em;
  grid-area: clear;
}

#enter {
  font-size: 2em;
  grid-area: enter;
  text-orientation: upright;
  writing-mode: vertical-rl;
}

#zero {
  grid-area: zero;
}

#one {
  grid-area: one;
}

#two {
  grid-area: two;
}

#three {
  grid-area: three;
}

#four {
  grid-area: four;
}

#five {
  grid-area: five;
}

#six {
  grid-area: six;
}

#seven {
  grid-area: seven;
}

#eight {
  grid-area: eight;
}

#nine {
  grid-area: nine;
}
