html {
  background: rgb(195, 250, 254);
  font-family: Helvetica, sans-serif;
  text-align: center;
}

body {
  height: 90vh;
  margin-top: 0;
  overflow: hidden;
}

.main-container {
  display: grid;
  grid-template:
    "header"
    "levelTimer"
    "progressBar"
    "display"
    "keys";
  height: 95%;
  margin: 0.2em 0.2em;
  overflow: hidden;
}

.center-box {
  align-items: center;
  display: flex;
  justify-content: center;
}

/* HEADER STYLES*/
.header {
  display: grid;
  grid-area: header;
  grid-template: "appTitle credits";
  grid-template-columns: 1fr 3fr;
  margin-top: 0.8em;
  margin-bottom: 0.8em;
}

#appTitle {
  align-items: end;
  color: rgb(250, 170, 234);
  font-family: "Brush Script MT", cursive;
  font-weight: 200;
  font-size: 2.5em;
  grid-area: appTitle;
  margin-left: 0.2em;
  padding: 0.2em;
  text-shadow: 1px 1px rgb(235, 24, 228);
  transform: rotate(-20deg);
}

#credits {
  align-items: start;
  color: rgb(80, 80, 80);
  font-family: "Courier New", Courier, monospace;
  font-size: 1em;
  grid-area: credits;
  justify-content: flex-end;
  margin-right: 0.6em;
}

#creditsInfo a {
  color: rgb(80, 80, 80);
  text-decoration: none;
}

#creditsInfo a:visited {
  color: rgb(80, 80, 80);
  text-decoration: none;
}

/* LEVEL AND TIMER STYLES*/
#levelTimer {
  grid-area: levelTimer;
  display: grid;
  grid-template: "level timer";
  grid-template-columns: 2fr 3fr;
}

.level {
  color: rgb(80, 80, 80);
  font-size: 1.5em;
  grid-area: level;
  font-style: italic;
}

/* TIMER STYLES*/
.timer {
  box-sizing: border-box;
  color: #fff;
  font-size: 3em;
  grid-area: timer;
}
.timer-off {
  color: #12606d;
}

.timer-on {
  color: #d71414;
}

/* PROGRESS BAR STYLES*/
.progressBar {
  align-items: center;
  display: flex;
  grid-area: progressBar;
  justify-content: space-evenly;
  margin-top: 1em;
}

.progress-bubble {
  border-color: rgb(250, 170, 234);
  border-radius: 1em;
  border-style: solid;
  border-width: 1px;
  height: 1em;
  width: 1em;
}

.bubble-neutral {
  background-color: transparent;
}

.bubble-correct {
  background-color: rgba(110, 252, 97, 0.7);
}

.bubble-incorrect {
  background-color: rgba(252, 97, 97, 0.7);
}

/* DISPLAY STYLES*/
.display {
  background: rgb(112, 188, 211);
  border-color: rgb(250, 170, 234);
  border-radius: 0.3em;
  border-style: solid;
  border-width: 1px;
  height: 7em;
  grid-area: display;
  margin-top: 0.4em;
}

.display-text {
  color: rgb(249, 215, 242);
}

.display-info {
  font-size: 2em;
  font-weight: 100;
  height: 40%;
  margin-top: 0.2em;
}

.display-input {
  font-size: 3em;
  font-weight: 400;
  height: 60%;
}

/* KEYS STYLES */
#keys {
  color: #fff;
  display: grid;
  font-weight: 200;
  gap: 0.3em;
  grid-area: keys;
  grid-template:
    "seven eight nine space"
    "four five six space"
    "one two three space"
    "zero clear clear space";
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  height: 80vw;
  margin-top: 0.3em;
}
.number-touch {
  align-items: center;
  background-color: #facdfa;
  border-style: solid;
  border-width: 1px;
  display: flex;
  font-size: 2.2em;
  font-weight: 200;
  justify-content: center;
}

.number {
  background-color: transparent;
  height: 100%;
  width: 100%;
}

.other-touch,
.number-touch {
  border-radius: 0.3em;
  border-style: solid;
  border-width: 1px;
}

#clear {
  background-color: #f290e3;
  font-size: 1.5em;
  grid-area: clear;
}

#enter {
  background-color: rgb(250, 170, 234);
  font-size: 1.5em;
  grid-area: space;
  text-orientation: upright;
  writing-mode: vertical-rl;
}

#zero {
  grid-area: zero;
}

#one {
  grid-area: one;
}

#two {
  grid-area: two;
}

#three {
  grid-area: three;
}

#four {
  grid-area: four;
}

#five {
  grid-area: five;
}

#six {
  grid-area: six;
}

#seven {
  grid-area: seven;
}

#eight {
  grid-area: eight;
}

#nine {
  grid-area: nine;
}
