html {
  font-family: Helvetica, sans-serif;
  margin: 2em;
}

h1 {
  font-size: 3em;
  text-align: center;
}

.timer {
  box-sizing: border-box;
  color: #fff;
  font-size: 4em;
  margin: 1em auto 0;
  text-align: center;
  width: 5em;
}

.timer-off {
  background-color: #12606d;
}

.timer-on {
  background-color: #d71414;
}

.info {
  font-size: 2em;
  margin: 1em auto;
  text-align: center;
  width: 6em;
}

.question {
  font-size: 3em;
}

.input-box {
  border-width: 2px;
  border-style: solid;
  display: block;
  font-size: 3em;
}

.start {
  background-color: #35ec19;
  display: block;
}
