html {
  font-family: Helvetica, sans-serif;
  text-align: center;
}

.timer {
  box-sizing: border-box;
  color: #fff;
  font-size: 1em;
}
.main-container {
  display: grid;
  grid-template:
    "header"
    "levelTimer"
    "progressBar"
    "keys";
}

#keys {
  display: grid;
  grid-template:
    "7 8 9 space"
    "4 5 6 space"
    "1 2 3 space"
    "0 clear clear enter";
}
.timer-off {
  background-color: #12606d;
}

.timer-on {
  background-color: #d71414;
}
